name: Build Infra

on:
  push:
    branches:
      - main
    paths:
      - './infra/**'
  workflow_dispatch: {}

jobs:
  run:
    name: run
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      # Install the terraform and terragrunt
      # - uses: alexellis/setup-arkade@v1
      # - uses: alexellis/arkade-get@master
      #   with:
      #     terraform: latest
      #     terragrunt: latest

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v3
        with:
          aws-access-key-id: ${{ secrets.PERSONAL_ACCESS_KEY }}
          aws-secret-access-key: ${{ secrets.PERSONAL_SECRET_ACCESS_KEY }}
          role-to-assume: ${{ vars.ROLE_TO_ASSUME }}
          aws-region: ${{ vars.AWS_REGION }}

      # Display IAM Identity
      - name: Display IAM Identity
        run: |
          aws sts get-caller-identity
